<div class="row">
  <div class="col-md-7">
    <div class="content d-flex align-items-center">
      <div>
        <h1>Lines of code, <br />Paths of Progess</h1>
        <p class="py-4">
          Exploring the world of Angular. <br />
          Oh! wait. I have lived in parallel world of Java and Gradle too.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h6 class="action" (click)="downloadResume()">Get my resume</h6>
    <h6 class="action mt-3">See my code</h6>
  </div>
</div>