<div class="content d-flex flex-column" (click)="openModal(content)">
  <div class="icon-large">
    <i class="bi bi-braces"></i>
  </div>
  <p class="title mt-auto">
    {{ certificate.attributes.certificate.label }} -
    {{ certificate.attributes.certificate.level }}
  </p>
</div>

<ng-template #content>
  <div class="modal-body pb-5">
    <div class="d-flex justify-content-end">
        <a href="https://www.hackerrank.com/certificates/{{ certificate.id }}" class="text-muted">
            <i class="bi bi-link-45deg"></i>
        </a>
    </div>
    <img src="{{ certificate.attributes.certificate_image }}" width="100%" />
  </div>
</ng-template>
