@import "src/bs-variables.scss";

a{
    color: $black;
    text-decoration: none;
}

.animate-link {
    &::after{
        content: "";
        display: block;
        width: 0;
        border-bottom: 1px solid $black;
        // height: 1px;
    }

    &:hover::after{
        width: 100%;
        transition: width 0.3s ;
    }
}