/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Prata-regular;
    src: url("./assets/Prata-Regular.ttf");
}

body {
    font-family: Prata-regular;
}